@import 'tailwindcss';

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@theme {
  --color-green: #16251F;
  --color-golden: #A68C4F;
  --color-onix: #1B1B1B;

  --breakpoint-3xl: 120rem;

  --font-PlayFair: 'Playfair Display', serif;
  --font-Lato: 'Lato', serif;
}
