@import 'tailwindcss';

@theme {
  --color-green: #16251F;
  --color-golden: #A68C4F;
  --color-soft-white: #E8E8E8;
  --color-soft-gray: #828282;

  --font-sans: "Inter", sans;
  --font-serif: "Playfair Display", serif;

  --breakpoint-3xl: 120rem;
}